*,
*::before,
*::after {
    box-sizing: border-box;
    --f-n: 1rem;
    --f-s: calc(var(--f-n) * 0.8);
    --f-xs: calc(var(--f-n) * 0.6);
    --f-l: calc(var(--f-n) * 1.5);
    --f-xl: calc(var(--f-n) * 2);
    --f-xxl: calc(var(--f-n) * 3);
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

nav,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

button {
    border-radius: 0;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: var(--f-xxl);
    margin: var(--f-s) 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #4B3A6C;
    border-radius: 1.3em;
    box-shadow: .5em .5em 0em rgba(0, 0, 0, .3);
    padding: 2.8em 2em;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.button {
    display: block;
    width: 100%;
    margin: var(--f-s) 0;
    padding: var(--f-s) 0;
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    background-color: #00FFE2;
}

.welcome-card {
    max-height: fit-content;
}

.welcome-card__version {
    display: block;
}

.welcome-card__title,
.welcome-card__version {
    text-align: center;
}

.welcome-card__buttons {
    width: 100%;
}

.login-card__title,
.register-card__title {
    margin: 0px 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__input-text {
    border: none;
    padding: 10px 6px;
}

.form__label {
    font-size: var(--f-n);
}