*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a
span {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

nav,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}